.custom-button {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  body {
    --bs-body-bg: darkgrey;
  }

  h1 {
    font-family: 'Press Start 2P', cursive;
  }

  .custom-progress .progress-bar {
    background-color: #1c9c27;
}
